main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  width: 400px;
  background-color: #f5f5f5;
  color: #444
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #444;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: "#333";
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.airline-info,
.aircraft-info {
  margin-bottom: 15px;
}

.risk-level {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  color: #888;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}