/* src/newtab/NewTab.css */
.dashboard {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;
  background-color: #f5f5f5;
  color: #444;
  max-width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  color: #444;
}

h2 {
  font-size: 24px;
  color: #444;
}

a {
  color: #007bff;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.header .title {
  font-size: 24px;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.header .title img {
  margin-right: 16px;
}

.tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
  line-height: 1.3;
}

.tagline img {
  margin-right: 10px;
}

.incidents-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.incident-list {
  width: 45%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.incident-list h2 {
  color: #444;
  margin-bottom: 20px;
}

.airline-incidents-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.airline-incidents-container h2 {
  color: #444;
  margin-bottom: 20px;
}

.airline-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.airline-incidents-list {
  list-style-type: none;
  padding: 0;
}

.airline-incident-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.airline-incident-info h3 {
  color: #333;
  margin-bottom: 10px;
}

.airline-incident-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.detail-item {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.value {
  color: #007bff;
}

.loading-container,
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-container {
  color: #dc3545;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #777;
  font-size: 14px;
}